---
import StandardLayout from "../layouts/StandardLayout.astro";
import Link from "../components/General/Link";
import Home3 from "../assets/images/home_3.webp";
import Stats from "../components/Stats/Stats";
import Dropdown from "../components/Dropdown/Dropdown";
import SectionLabel from "../components/General/Text/SectionLabel";
import SectionHeader from "../components/General/Text/SectionHeader";
import PageHeader from "../components/General/Text/PageHeader";
import Copy from "../components/General/Text/Copy";
import ProcessSlider from "../components/Process/ProcessSlider";
import BrochureForm from "../components/Form/BrochureForm";
import PropertySlider from "../components/Property/PropertySlider";
import Reviews from "../components/Reviews/Reviews";
import FAQs from "../components/FAQs/FAQs";
import type { Property } from "../env";

const res = await fetch(`https://jacobs-server.onrender.com/properties/sales`);
const data: Property[] = await res.json();

const processSlides = {
  header: "Our lettings process at a glance",
  slides: [
    {
      title: "Arrange an appraisal visit",
      text: "During the appraisal visit, we will have a tour around your property then provide an accurate rental value and make recommendations where we see fit.",
    },
    {
      title: "Prepare your property",
      text: "Once we’re happy that all legalities are in place, we will prepare marketing materials to create a listing on leading property portals Rightmove and Zoopla, social media and our own website.",
    },
    {
      title: "Find the right tenant",
      text: "We will invite suitable tenants for viewings. All subsequent offers and relevant information will be presented to you in writing, all you have to do is choose your best fit.",
    },
    {
      title: "Referencing and deposits",
      text: "We will take a holding deposit from your tenant, send them more information and initiate a reference check in partnership with a professional company.",
    },
  ],
};

const dropdownCards = [
  {
    question: "A range of letting services",
    answer:
      "Only need us to find you a tenant? Happy to oblige. But if you’re a time-poor landlord who wants to let the professionals handle the business, you can entrust our in-house team to take care of your property management, maintenance and more under our Fully Managed service.",
  },
  {
    question: "28 years of experience",
    answer:
      "Only need us to find you a tenant? Happy to oblige. But if you’re a time-poor landlord who wants to let the professionals handle the business, you can entrust our in-house team to take care of your property management, maintenance and more under our Fully Managed service.",
  },
  {
    question: "The latest technology",
    answer:
      "Only need us to find you a tenant? Happy to oblige. But if you’re a time-poor landlord who wants to let the professionals handle the business, you can entrust our in-house team to take care of your property management, maintenance and more under our Fully Managed service.",
  },
  {
    question: "A peace of mind",
    answer:
      "Only need us to find you a tenant? Happy to oblige. But if you’re a time-poor landlord who wants to let the professionals handle the business, you can entrust our in-house team to take care of your property management, maintenance and more under our Fully Managed service.",
  },
];
---

<StandardLayout title="Landlords">
  <main>
    <section class="bg-primary-200 py-10 md:py-28">
      <div
        class="mx-auto grid max-w-container-lg items-center gap-7 lg:grid-cols-2"
      >
        <img
          loading="lazy"
          class="aspect-[1.42_/_1] h-auto w-full self-center rounded-big object-cover object-left lg:order-1"
          src={Home3.src}
          alt=""
        />
        <div class="flex flex-col text-primary-100 md:max-w-lg">
          <SectionLabel padding="hero-lg">Landlords</SectionLabel>
          <PageHeader padding="hero"
            >Let your property in Basingstoke</PageHeader
          >
          <Copy padding="hero-lg" size="lg"
            >At Jacobs Properties, we pride ourselves on delivering a first
            class lettings service with a personal touch. From rental valuation
            and finding the right tenant, to property management and portfolio
            expansion, we’ll keep it seamless.</Copy
          >
          <div
            class="flex flex-col items-center justify-center gap-3 md:flex-row md:justify-start"
          >
            <Link link="/" type="primary" size="md">Get in Touch</Link>
            <Link className="px-7" link="/" type="secondary" size="lg"
              >Book rental valuation</Link
            >
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary-200 py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <Stats client:visible />
      </div>
    </section>

    <section class="bg-white py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <SectionHeader padding="misc"
          >Four reasons you should let with us</SectionHeader
        >
        <div class="flex flex-col gap-6 md:grid md:grid-cols-2 lg:gap-16">
          <img
            src={Home3.src}
            loading="lazy"
            class="md:order-0 order-1 aspect-[6/5] h-auto w-full flex-1 self-start rounded-big object-cover"
            alt=""
          />
          <Dropdown dropdownCards={dropdownCards} client:visible />
        </div>
      </div>
    </section>

    <section class="overflow-hidden bg-primary-200 py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <ProcessSlider
          header={processSlides.header}
          slides={processSlides.slides}
          client:idle
        />
      </div>
    </section>

    <section class="bg-white py-10 md:py-28">
      <div
        class="mx-auto grid max-w-container-lg items-center gap-12 md:grid-cols-2 md:gap-16"
      >
        <img
          class="aspect-[1.27/1] w-full rounded-big object-cover object-center"
          src={Home3.src}
          alt=""
        />
        <div class="lg:max-w-xl 2xl:pl-20">
          <SectionLabel padding="hero-md">Landlords</SectionLabel>
          <SectionHeader padding="hero" className="lg:max-w-lg"
            >Fully managed</SectionHeader
          >
          <Copy size="lg" padding="hero-md"
            >Don’t have the time or resources to manage your lettings? We do!
            Choose the Fully Managed option and let us look after the entire
            running of your rental property, or your portfolio of properties.</Copy
          >
          <div class="flex flex-col gap-3 md:flex-row">
            <Link link="/" type="secondary" size="md">Get in touch</Link>
            <Link link="/" type="primary" size="md">Lettings fees</Link>
          </div>
        </div>
      </div>

      <section class="bg-white py-10 md:py-28">
        <div
          class="mx-auto grid max-w-container-lg items-center gap-12 md:grid-cols-2 md:gap-16"
        >
          <img
            class="aspect-[1.27/1] w-full rounded-big object-cover object-center md:order-1"
            src={Home3.src}
            alt=""
          />
          <div class="md:max-w-lg">
            <SectionLabel padding="hero-md">Landlords</SectionLabel>
            <SectionHeader padding="hero" className="lg:max-w-lg"
              >Let Only</SectionHeader
            >
            <Copy size="lg" padding="hero-md"
              >If you’re a landlord who is experienced in the day-to-day running
              of your lettings but need some help with finding the right tenant,
              then this is the ideal service for you.</Copy
            >
            <div class="flex flex-col gap-3 md:flex-row">
              <Link link="/" type="secondary" size="md">Get in touch</Link>
              <Link link="/" type="primary" size="md">Lettings fees</Link>
            </div>
          </div>
        </div>
      </section>

      <section
        class="relative flex flex-col gap-12 bg-primary-200 pb-10 md:pb-28 lg:flex-row lg:gap-0 lg:py-28"
      >
        <img
          loading="lazy"
          class="aspect-5/4 h-auto w-full flex-1 object-cover object-left lg:order-1 lg:hidden lg:w-[50vw]"
          src={Home3.src}
          alt=""
        />
        <div
          class="mx-auto grid w-full max-w-container-lg items-center gap-7 lg:grid-cols-2"
        >
          <div>
            <div class="flex flex-col lg:max-w-xl lg:justify-center">
              <SectionLabel className="pb-3">Sales Brochure</SectionLabel>
              <SectionHeader className="pb-4"
                >First time letting a property?</SectionHeader
              >
              <Copy className="pb-5" size="md"
                >We understand how daunting it can be. That's why we've compiled
                a FREE guide of pro tips to help make your experience as
                stress-free as possible.</Copy
              >
              <BrochureForm client:visible />
            </div>
          </div>
          <img
            loading="lazy"
            class="hidden aspect-[1.42_/_1] h-auto w-full flex-1 self-center rounded-big object-cover object-left lg:order-1 lg:inline"
            src={Home3.src}
            alt=""
          />
        </div>
      </section>

      <section class="overflow-hidden bg-white pt-10 md:pt-28">
        <div class="mx-auto max-w-container-lg">
          <PropertySlider
            client:idle
            header="Your property could be one of them"
            properties={data}
          />
        </div>
      </section>

      <section class="bg-white py-10 md:items-center md:py-28">
        <div class="mx-auto flex max-w-container-lg flex-col">
          <SectionHeader className="md:text-center" padding="misc"
            >Hear from our customers</SectionHeader
          >
          <Reviews client:visible />
        </div>
      </section>

      <section
        class="bg-primary-200 py-14 md:items-center md:gap-16 md:py-section"
      >
        <div
          class="mx-auto flex max-w-container-lg flex-col gap-8 md:justify-center md:gap-16"
        >
          <SectionHeader className="md:text-center"
            >Frequently asked questions</SectionHeader
          >
          <FAQs client:visible />
          <a
            class="text-xs font-semibold uppercase tracking-[1.2px] text-primary-100 underline decoration-secondary-100 decoration-2 underline-offset-4 lg:text-center lg:text-[0.875rem] lg:underline-offset-8"
            href="/">See All Our Faqs</a
          >
        </div>
      </section>
    </section>
  </main>
</StandardLayout>
