---
import StandardLayout from "../layouts/StandardLayout.astro";
import Link from "../components/General/Link";
import Home3 from "../assets/images/home_3.webp";
import Stats from "../components/Stats/Stats";
import Dropdown from "../components/Dropdown/Dropdown";
import SectionLabel from "../components/General/Text/SectionLabel";
import SectionHeader from "../components/General/Text/SectionHeader";
import PageHeader from "../components/General/Text/PageHeader";
import Copy from "../components/General/Text/Copy";
import Display from "../components/General/Text/Display";
import ProcessSlider from "../components/Process/ProcessSlider";
import BrochureForm from "../components/Form/BrochureForm";
import PropertySlider from "../components/Property/PropertySlider";
import Reviews from "../components/Reviews/Reviews";
import FAQs from "../components/FAQs/FAQs";
import type { Property } from "../env";

const res = await fetch(`https://jacobs-server.onrender.com/properties/sales`);
const data: Property[] = await res.json();

const processSlides = {
  header: "Our selling process at a glance",
  slides: [
    {
      title: "Get the price right",
      text: "We will give you an accurate and up-to-date valuation of your property, based on data including current market values and recent sales in your area,",
    },
    {
      title: "Prepare marketing materials",
      text: "We will take professional photos of your property as well as create floor plans and videos to give it the best chance of standing out in the market and attracting leads.",
    },
    {
      title: "List your property",
      text: "We will advertise your property on leading property portals, social media and our website, as well as contact our database of registered buyers.",
    },
    {
      title: "Arrange viewings",
      text: "One of our team members will be on hand to carry out accompanied viewings at a time and day that works for you and your prospective buyers.",
    },
  ],
};

const dropdownCards = [
  {
    question: "We’re never corporate",
    answer:
      "Forget everything you think you know about estate agents. Being a local, independent and family-run business, we believe we’re best-placed to give you the friendly and personable service you deserve.",
  },
  {
    question: "Guided sales progression",
    answer:
      "Forget everything you think you know about estate agents. Being a local, independent and family-run business, we believe we’re best-placed to give you the friendly and personable service you deserve.",
  },
  {
    question: "End-to-end services",
    answer:
      "Forget everything you think you know about estate agents. Being a local, independent and family-run business, we believe we’re best-placed to give you the friendly and personable service you deserve.",
  },
  {
    question: "People precedes properties",
    answer:
      "Forget everything you think you know about estate agents. Being a local, independent and family-run business, we believe we’re best-placed to give you the friendly and personable service you deserve.",
  },
];
---

<StandardLayout title="Sellers">
  <main>
    <section class="bg-primary-200 py-10 md:py-28">
      <div
        class="mx-auto grid max-w-container-lg items-center gap-7 lg:grid-cols-2"
      >
        <img
          loading="lazy"
          class="aspect-[1.42_/_1] h-auto w-full self-center rounded-big object-cover object-left lg:order-1"
          src={Home3.src}
          alt=""
        />
        <div class="flex flex-col text-primary-100 md:max-w-lg">
          <SectionLabel padding="hero-lg">Sellers</SectionLabel>
          <PageHeader padding="hero">Sell your home in Basingstoke</PageHeader>
          <Copy padding="hero-lg" size="lg"
            >There's a lot to consider when selling your home, that's why you
            need a reliable estate agent by your side. Luckily for you, our
            people-centric agents are here to help.</Copy
          >
          <div
            class="flex flex-col items-center justify-center gap-3 md:flex-row md:justify-start"
          >
            <Link link="/" type="primary" size="lg">Expert Valuation</Link>
            <Link link="/" type="secondary" size="lg">Instant Valuation</Link>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full py-10 text-primary-100 md:py-28">
      <div
        class="mx-auto flex max-w-container-lg flex-col gap-8 lg:items-center lg:text-center"
      >
        <Display>On a mission to sell your home.</Display>
        <h3
          class="max-w-xl text-[1.5rem] font-semibold leading-7 lg:max-w-[51rem] lg:text-[2rem] lg:leading-10"
        >
          Our focus is to get a broader exposure for your property, negotiate a
          better deal and make sure the process is smooth and stress free all
          the way.
        </h3>
      </div>
    </section>

    <section class="bg-primary-200 py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <Stats client:visible />
      </div>
    </section>

    <section class="bg-white py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <SectionHeader padding="misc"
          >Four reasons you should sell with us</SectionHeader
        >
        <div class="flex flex-col gap-6 md:grid md:grid-cols-2 lg:gap-16">
          <img
            src={Home3.src}
            loading="lazy"
            class="order-1 aspect-[6/5] h-auto w-full self-center rounded-big object-cover"
            alt=""
          />
          <Dropdown dropdownCards={dropdownCards} client:visible />
        </div>
      </div>
    </section>

    <section class="overflow-hidden bg-primary-200 py-10 md:py-28">
      <div class="mx-auto max-w-container-lg">
        <ProcessSlider
          header={processSlides.header}
          slides={processSlides.slides}
          client:idle
        />
      </div>
    </section>

    <section class="bg-white py-10 md:py-28">
      <div
        class="mx-auto grid max-w-container-lg items-center gap-12 lg:gap-16 xl:grid-cols-2"
      >
        <img
          class="aspect-[1.27/1] w-full rounded-big object-cover object-center"
          src={Home3.src}
          alt=""
        />
        <div class="max-w-2xl 2xl:pl-20">
          <SectionLabel padding="hero-md">About</SectionLabel>
          <SectionHeader padding="hero" className="lg:max-w-lg"
            >Proven recipe to sell your home for the best price</SectionHeader
          >
          <Copy size="lg" padding="hero-md"
            >We don’t just take a few pictures and stick your property on
            Rightmove. That’s simply not our style. And it won’t help you
            achieve the best sale price for your home. We bring the story of
            your property to life and design a winning strategy to really make
            your home stand out. Then, we implement a custom marketing plan
            across a wide variety of the latest technologies including social,
            online, in print, direct mail and in person. We like to get to know
            you and your property. Trust us, this makes a difference to the
            final outcome and the price you can achieve when selling your home.</Copy
          >
          <Link link="/" type="secondary" size="md">Meet the Team</Link>
        </div>
      </div>
    </section>

    <section
      class="relative flex flex-col gap-12 bg-primary-200 pb-10 md:pb-28 lg:flex-row lg:gap-0 lg:py-28"
    >
      <img
        loading="lazy"
        class="aspect-5/4 h-auto w-full flex-1 object-cover object-left lg:order-1 lg:hidden lg:w-[50vw]"
        src={Home3.src}
        alt=""
      />
      <div
        class="mx-auto grid w-full max-w-container-lg items-center gap-7 lg:grid-cols-2"
      >
        <div>
          <div class="flex flex-col lg:max-w-xl lg:justify-center">
            <SectionLabel className="pb-3">Sales Brochure</SectionLabel>
            <SectionHeader className="pb-4"
              >First time selling a property?</SectionHeader
            >
            <Copy className="pb-5" size="md"
              >We understand how daunting it can be. That's why we've compiled a
              FREE guide of pro tips to help make your experience as stress-free
              as possible.</Copy
            >
            <BrochureForm client:visible />
          </div>
        </div>
        <img
          loading="lazy"
          class="hidden aspect-[1.42_/_1] h-auto w-full flex-1 self-center rounded-big object-cover object-left lg:order-1 lg:inline"
          src={Home3.src}
          alt=""
        />
      </div>
    </section>

    <section class="overflow-hidden bg-white pt-10 md:pt-28">
      <div class="mx-auto max-w-container-lg">
        <PropertySlider
          client:idle
          header="Your property could be one of them"
          properties={data}
        />
      </div>
    </section>

    <section class="bg-white py-10 md:items-center md:py-28">
      <div class="mx-auto flex max-w-container-lg flex-col">
        <SectionHeader className="md:text-center" padding="misc"
          >Hear from our customers</SectionHeader
        >
        <Reviews client:visible />
      </div>
    </section>

    <section
      class="bg-primary-200 py-14 md:items-center md:gap-16 md:py-section"
    >
      <div
        class="mx-auto flex max-w-container-lg flex-col gap-8 md:justify-center md:gap-16"
      >
        <SectionHeader className="md:text-center"
          >Frequently asked questions</SectionHeader
        >
        <FAQs client:visible />
        <a
          class="text-xs font-semibold uppercase tracking-[1.2px] text-primary-100 underline decoration-secondary-100 decoration-2 underline-offset-4 lg:text-center lg:text-[0.875rem] lg:underline-offset-8"
          href="/">See All Our Faqs</a
        >
      </div>
    </section>
  </main>
</StandardLayout>
