---
import ImageSlider from "../../components/ImageCarousel/ImageSlider";
import Link from "../../components/General/Link";
import Copy from "../../components/General/Text/Copy";
import SectionHeader from "../../components/General/Text/SectionHeader";
import PropertyDetails from "../../components/PropertyDetails/PropertyDetails";
import StandardLayout from "../../layouts/StandardLayout.astro";
import BookAViewingButton from "../../components/Form/BookAViewing/Button";
import type { Property2 } from "../../env";
import type { GoogleMapProps } from "@react-google-maps/api";
import StampDutyCalc from "../../components/Calculators/StampDutyCalc";
import MortgageCalc from "../../components/Calculators/MortgageCalc";
import PropertySlider from "../../components/Property/PropertySlider";
import { getPropertyStatus, priceNumberToPriceString } from "../../utils";
import MiscSection from "../../components/Layout/MiscSection.astro";
import SharePropertyButton from "../../components/Property/ShareProperty";
import PropertyListCard from "../../components/Property/PropertyListCard";

const res = await fetch("https://jacobs-server.onrender.com/properties");
const properties: Property2[] = await res.json();
console.log(properties);

export async function getStaticPaths() {
  const res = await fetch("https://jacobs-server.onrender.com/properties");
  const properties: Property2[] = await res.json();
  return properties.map((property) => ({
    params: {
      id: property.id,
    },
    props: {
      property,
    },
  }));
}

let {
  id,
  type,
  status,
  description,
  address1,
  address2,
  postcode,
  price,
  bedrooms,
  bathrooms,
  receptions,
  images,
  floorplan,
  epc,
  created,
  virtualTour,
  brochure,
}: Property2 = Astro.props.property;

const res2 = await fetch(
  `https://maps.googleapis.com/maps/api/geocode/json?address=${address1}%20${address2}&key=${
    import.meta.env.PUBLIC_GOOGLE_MAPS_KEY
  }`
);
const data = await res2.json();
const location: GoogleMapProps["center"] | undefined =
  data.results[0]?.geometry?.location;

const priceString = priceNumberToPriceString(price);

const findSimilarllyPricedProperties = (propertyList: Property2[]) => {
  propertyList.sort((a, b) => {
    const priceA = price;
    const priceB = price;
    const differenceA = priceA > price ? priceA - price : price - priceA;
    const differenceB = priceB > price ? priceB - price : price - priceB;

    return differenceA > differenceB ? 1 : -1;
  });

  return propertyList.splice(0, 10);
};

const similarPropertiesFilteredSorted = findSimilarllyPricedProperties(
  properties.filter((p) => {
    if (p.type === type && p.id !== id) {
      return true;
    } else {
      return false;
    }
  })
);

console.log(location);
---

<StandardLayout title={`${address1} | Jacobs Properties`} description="">
  <section class="py-10 md:pb-28">
    <div
      class="mx-auto flex w-full max-w-container-lg flex-col gap-4 xl:flex-row xl:justify-between xl:gap-16"
    >
      <ImageSlider client:load {...{images, id}} />
      <div class="grid flex-1 sm:max-w-[34rem] xl:grid-rows-[1fr_auto_1fr]">
        <a
          class="hidden w-max pb-6 text-[0.75rem] font-semibold uppercase leading-[1.1] tracking-[2.8px] text-primary-100 duration-100 hover:text-secondary-100 lg:text-[0.875rem] xl:block"
          href="">Back to properties</a
        >
        <div class="flex flex-col gap-2 lg:gap-5">
          <p
            class="mb-2 flex h-10 w-max items-center justify-center rounded-md bg-secondary-100 px-7 text-[0.875rem] font-semibold uppercase tracking-[1.4px] text-primary-100 duration-100 lg:h-14"
          >
            {getPropertyStatus(status, type)}
          </p>
          <ul class="flex gap-7 text-primary-100">
            <li
              class="text-[0.875rem] font-semibold uppercase tracking-[1.4px]"
            >
              {`${bedrooms} Bed`}
            </li>
            <div class="h-3 self-center border-l-2 border-secondary-100"></div>
            <li
              class="text-[0.875rem] font-semibold uppercase tracking-[1.4px]"
            >
              {`${bathrooms} Bath`}
            </li>
          </ul>
          <div class="pb-4 lg:pb-0">
            <SectionHeader className={"lg:pb-2"}
              >{`${address1}, ${address2}`}</SectionHeader
            >
            <SectionHeader>{priceString}</SectionHeader>
          </div>
          {
            description && (
              <Copy
                className="line-clamp-3 text-ellipsis whitespace-pre-line"
                size="lg"
              >
                {description}
              </Copy>
            )
          }
          <div class="flex flex-col gap-3 sm:flex-row">
            <BookAViewingButton
              price={priceString}
              address={`${address1}, ${address2}`}
              size="lg">Book a viewing</BookAViewingButton
            >
            <!-- <SharePropertyButton>Share Property</SharePropertyButton> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <PropertyDetails
    details={{
      description,
      floorplan,
      epc,
      virtualTour,
      images,
    }}
    location={location}
    address={`${address1},${address2}`}
    client:visible
  />

  <MiscSection>
    <SectionHeader padding="misc"
      >Try one of our useful calculators…
    </SectionHeader>
    <div class="flex w-full flex-col gap-7 lg:flex-row xl:gap-16">
      <StampDutyCalc client:visible />
      <MortgageCalc client:visible />
    </div>
  </MiscSection>

  <MiscSection bgColor="bg-primary-200" overflowVisible={false}>
    <PropertySlider
      client:idle
      header="Similar Properties"
      properties={similarPropertiesFilteredSorted}
    />
  </MiscSection>
</StandardLayout>
